.dashboard-btn {
  @apply flex items-center cursor-pointer py-2 px-3 rounded-full hover:bg-slate-700;

  &:hover {
    .blue {
      @apply fill-main-200 dark:fill-blue-500;
      circle {
        @apply stroke-white;
      }
      rect {
        @apply fill-white;
      }
    }

    .red circle {
      @apply stroke-red;
    }

    .green circle {
      @apply stroke-green;
    }
    .red path {
      @apply fill-red;
    }
  }
}

.table {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  @apply bg-white dark:bg-slate-700;
  .t-head {
    @apply grid  py-5 font-bold border-b px-4;
    grid-template-columns: 50px repeat(4, 1fr);
  }
  .t-body {
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr);
    align-items: center;
    padding: 20px 16px;
  }
}

.table .prog {
  @apply rounded-lg px-3 py-2 text-slate-700 text-base font-medium hover:bg-slate-100 hover:text-slate-900 flex items-center dark:text-slate-300 dark:hover:bg-slate-700;
  &:before {
    content: "\A";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 10px;
  }
  &.orange:before {
    @apply bg-orange-400;
  }
  &.blue:before {
    @apply bg-blue-300;
  }
  &.purple:before {
    @apply bg-purple-400;
  }
  &.green:before {
    @apply bg-emerald-600;
  }
}

.dashboard {
  .select__indicators {
    display: none !important;
  }
}

.dark .dashboard {
  .select__control {
    @apply border-0 bg-slate-700;
  }

  .select__menu {
    @apply border-0 bg-slate-700;
    > div > div:hover {
      @apply bg-blue-500;
    }
  }

  .select__single-value,
  .select__input-container {
    color: white !important;
  }

  .select__option--is-focused {
    @apply bg-blue-500;
  }

  .select__option--is-selected {
    background-color: transparent;
  }
}
